body {
  font-family: 'Marko One', serif;
  background-color: red;
}
#secondCard {
  margin: auto;
  width: 40vw;
  margin-top: 5vw;
  margin-bottom: 10px;
  padding: 15px;
}
#firstShowing {
  display: none;
  margin: auto;
  width: 50vw;
  margin-top: 5vw;
  margin-bottom: 10vw;
  padding: 15px;
}
#secondShowing{
  display: none;
}
#receiptHeader {
  text-align: center;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 5px 0;
  text-align: center;
}
#header {
  text-align: center;
}
p {
  text-align: center;
}
.logo {
  width: 100%;
  height: auto;
  border: solid black 2px;
}
#submitButton {
  margin: auto;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
  border: solid red 2px;
}
.form-control:focus {
  border-color: red;
  box-shadow: 0 0 0 0.2rem rgba(197, 31, 31, 0.25);
}
h2 {
  padding-top: 15px;
  text-decoration: underline;
}
.card {
  border: solid black 3px;
  background-color: yellow;
}
#sizeChoice {
  margin-bottom: 10px;
  border: solid black 2px;
  background-color: yellow;
}
#returnButton {
  margin: auto;
  background-color: yellow;
  color:black;
  width: 25vw;
  border: solid black 2px;
  margin-bottom: 10vw;
  display: block;
}
#returnButton:hover {
  background-color: red;
  color: yellow;
}

